.signup-container {
    display: flex;
    width: 100%;
    background: #FFFFFF;
}

.sign-up-left-container{
    width: 50%;
    /* height: 90vh; */
    background-color: #55229e;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 188px;
}
.sign-up-right-container {
    width: 50%;
    height: 90vh;
    padding: 0px;
    gap: 188px;
    align-items: flex-end;
    text-align: center;
}

.header-texts{
    height: 36px;
    left: 1123px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30.819px;
    line-height: 36px;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.headers-paragraph {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20.546px;
    line-height: 24px;
    align-items: flex-end;
    text-align: center;
  
    color: #000000;
  

}

input.password{
  left: 59.09%;
  right: 10.36%;
  top: 36.53%;
  bottom: 56.94%;

  background: #FFFFFF;
  border: 1.71217px solid #C4C4C4;
  border-radius: 13.6973px;
}

.logo {
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right-container {
  width: 50%;
  text-align: center;
  /* height: 90vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 188px;
}


.firstName, .lastName, .email, .passwords{
  width: 70%;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.options-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-items: center;
  justify-content: space-evenly;
}

.signup-option{
  display: flex;
  align-items: center;
  justify-content: center;
}

input.check-box{
  background-color: #55229e;
}

.rem-me{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27.3947px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;

  color: rgba(0, 0, 0, 0.6);

}

.signup-submit-button {
  width: 80%;
  height: 60px;
  background-color: #55229e;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: large;
  cursor: pointer;
  margin-top: 20px;
}

.signup-submit-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  left: 39.35%;
  right: 39.16%;
  top: 20.22%;
  bottom: 21.03%;
  color: #FFFFFF;
}
/* 
.sign-up-btn{
    color: #FFFFFF;
    background-color: #FFFFFF;
} */

.create-account-option{
    left: 33.33%;
right: 33.93%;
top: 17.17%;
bottom: 23.26%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36.2667px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.sign-up-text{
  
width: 85px;
height: 33px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 23.9703px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;

color: #55229E;

flex: none;
order: 1;
flex-grow: 0;
}

.login-option{
    width: 117px;
    height: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21.1556px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    justify-content: flex-end;

    color: #55229E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.signup-option{
  justify-content: flex-start;
  width: 330.93px;
  height: 28.71px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21.1556px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #C4C4C4;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sign-up-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

.options-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-items: center;
  justify-content: space-evenly;
}


@media (min-width: 600px) and (max-width:1200px){
    .logo, .sign-up-right-container{
    width: 100%;
    height: 120vh;
  } 
}

