.Container {
    position: fixed;
    left: 59.14%;
    right: 10.59%;
    top: 45.39%;
    bottom: 42.08%;
    background: #FFFFFF;
    border-radius: 16.7628px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    /* position: absolute; */
    left: 61.23%;
    right: 13.31%;
    top: 49.06%;
    bottom: 45.3%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.content-container {
    width: 500px;
}
/* 
.content-holder{
    position: absolute;
    width: 844px;
    height: 1117px;
    left: 884px;
    top: 0px;

    background: rgba(37, 32, 41, 0.4);
} */