.otp-container {
    display: flex;
  width: 100%;
  background: #FFFFFF;
}
.otp-left-side{
  width: 50%;
  height: 90vh;
  background-color: #55229e;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.otp-image{
  width: 180%;
}

.input-container{
  margin-top: 50px;
  margin-left: 480px;
  width: 70%;
  height: 25px;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.otp-input-box{
  width: 70%;
  height: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.otp-right-container{
  /* width: 10%; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

}


/* 

.otp-right-container{
  width: 50%;
  height: 90vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-text{
  margin-left: 480px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  text-align: center;

  color: #000000;

}

.otp-form-div{
  margin-top: 50px;
  margin-left: 480px;
  width: 70%;
  height: 25px;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.input-container{
  margin-top: 50px;
  margin-left: 480px;
  width: 70%;
  height: 25px;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}
input.input-btn{
  width: 27%;
  height: 50px;
  margin-left: 685px;
  background: #55229E;
  border: 1.51111px solid #56229E; 
  border-radius: 12.0889px;
  color: #FFFFFF;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.otp-text{
    margin-left: 480px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    text-align: center;

    color: #000000;
}

.otp-left-side{
    width: 50%;
    height: 90vh;
    background-color: #55229e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-image{
    width: 180%;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.header-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;

    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.otp-form-container{
    margin-top: 50px;
    margin-left: 480px;
    width: 70%;
    height: 25px;
    display: flex;
    border: 1px solid #c4c4c4;
    border-radius: 12.088889122009277px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
}

.otp-btn{
    margin-top: 50px;
    width: 27%;
    height: 50px;
    margin-left: 685px;
    background: #55229E;
    border: 1.51111px solid #56229E; 
    border-radius: 12.0889px;
    color: #FFFFFF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.otpbtn{
    text-decoration: "none";
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 41.1803px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

} */
