.reset-password-container{
    width: 100%;
}

.reset-password-left-container{
    width: 50%;
    float: left;
}

.resetPasswordImage{
    width: 100%;
    height: 95vh;

}

.reset-password-right-container{
    text-align: center;
    justify-items: center;
    float: right;
    width: 50%;
    float: right;
    background: #FFFFFF;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.reset-password-text{
    
    position: absolute;
    left: 65.91%;
    bottom: 67.41%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30.82px;
    line-height: 36px;
    /* display: flex;
    align-items: flex-end;
    text-align: center; */

    color: #000000;
}

.reset-flow-image {
    position: absolute;
    left: 67.57%;
    right: 21.78%;
    bottom: 64.23%;
}

.header-text {
    width: 100%;
    margin-top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20.39px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.reset-password-input {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 50px;
    background: #FFFFFF;
    border: 2.25397px solid #C4C4C4;
    border-radius: 18.0317px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25.68px;
    line-height: 30px;
    align-items: flex-start;

color: #C4C4C4;


}

.form-reset-container {
    left: 59.09%;
    right: 10.36%;
    top: 49.33%;
    bottom: 44.14%;
}

.reset-submit-button{
    margin-left: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 50px;
    background-color: #55229e;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    cursor: pointer;
    margin-top: 20px;
}
