* {
  margin: 0%;
}

.login {
  display: flex;
  width: 100%;
}

.login img {
  width: 120%;
  height: 99vh;
}

.login_right {
  margin: 10rem 0rem 0rem 15rem;
  width: 40%;
}

.input_box {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  color: white;
}

.login h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 7rem;
}

.login h4 {
  color: black;
  font-weight: 500;
  padding: 1rem 0rem 0rem 7.3rem;
  margin-bottom: 20px;
}

.login p {
  color: #c4c4c4;
  font-weight: 500;
}

.login span {
  color: black;
}

.remember {
  width: 100%;
  padding-top: 5%;
  font-size: 12px;
  display: flex;
  column-gap: 36%;
  align-items: center;
  margin-top: 10px;
}

.login_submit {
  font-family: Roboto;
  font-weight: bold;
  background-color: #55229e;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: large;
  cursor: pointer;
  width: 70%;
  margin-top: 20px;
}

.sign_link {
  display: flex;
  column-gap: 31%;
  margin-top: 30px;
}

.sign_span {
  color: #55229e;
}

.checker {
  display: flex;
}

.checker input {
  height: 25%;
}

.rem-me {
  width: 500%;
  margin-left: 10px;
}

/* input[type=email] {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 12.0889px;
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    border: 1px solid #C4C4C4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
  } */

/* .email-box{
    display: flex;
    flex-direction: column;
    width: 142%;
  } */

/* input[type=password] {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 12.0889px;
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #C4C4C4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
  } */
