.login-container {
  display: flex;
  width: 100%;
  background: #FFFFFF;
}

.login-left-container {
  width: 50%;
  height: 90vh;
  background-color: #55229e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  height: 36px;
  left: 1123px;
  top: 242px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30.819px;
  line-height: 36px;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}

.header-paragraph {
  width: 467.42px;
  height: 24px;
  left: 1042.11px;
  top: 305.09px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20.546px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #000000;

}

input.password_box{
  left: 59.09%;
  right: 10.36%;
  top: 36.53%;
  bottom: 56.94%;

  background: #FFFFFF;
  border: 1.71217px solid #C4C4C4;
  border-radius: 13.6973px;
}

.image-container {
  width: 100%;
  height: 107vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right-container {
  width: 50%;
  text-align: center;
  height: 90vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 188px;
}


.email_box{
  width: 70%;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.password_box{
  width: 70%;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 12.088889122009277px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

.checker-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-items: center;
  justify-content: space-evenly;
}

.checker{
  display: flex;
  align-items: center;
  justify-content: center;
}

input.check-box{
  background-color: #55229e;
}

.rem-me{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27.3947px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;

  color: rgba(0, 0, 0, 0.6);

}

.login-submit-button {
  width: 70%;
  height: 50px;
  background-color: #55229e;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: large;
  cursor: pointer;
  margin-top: 20px;
}

.login-submit-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  left: 39.35%;
  right: 39.16%;
  top: 20.22%;
  bottom: 21.03%;
  color: #FFFFFF;
}

.sign-up-container{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.create-account-option{
  width: 253px;
  height: 33px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23.9703px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;

  color: #C4C4C4;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.sign-up-text{
  
width: 85px;
height: 33px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 23.9703px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;

color: #55229E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.password{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27.3947px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;

  color: rgba(0, 0, 0, 0.6);


}

@media (min-width: 600px) and (max-width:1200px){
  img.image-container{
    width: 100%;
    height: 108vh;
  } 
  
}